<!DOCTYPE html>
<html>
    <head>
        <title>Student Portal</title>

    </head>
    <body>
            <h1 style="text-align:center; color:blue">Welcome to Student Portal </h1>

            <div style="display:block; margin:auto; text-align: center" >
                    <img src="{{url_for('static', filename='./studenticon.png')}}" width="30%"/>
            </div>
            

    </body>
</html>